.acc-items{
    padding: 20px;
}
.acc-menu{
    border: solid 1px #666;
}
.update-btn{
    float: right;
	width: auto;
  	padding: 10px 30px;
    font-size: 12px;
}
.sign-out-btn{
    text-align: left;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    color:#000000;
    border: none;
   
}
.selected{
    text-align: left;
    height: 100%;
    width: 100%;
    background-color: #000000;
    color:#FFF;
    border: none;
}
.order-id{
    padding: 10px 0 5px 10px;
}
.order-status{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 10px;
    border-bottom: 1px solid #CCC;
}
.order-status p{
    margin: 0;
}
.order-row{
    padding: 0 20px;
    background-color: #EEEEEE;
}
.order-info{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.order-recinfo{
    width: 45%;
    margin-bottom: 15px;
}
.order-method{
    width: 30%;
    display: inline-flex;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.order-value{
    width: fit-content;
}
.order-detail{
    text-decoration:underline #666;
    padding-bottom: 15px;
    margin-left: auto;
    width: fit-content;
}
@media only screen and (max-width: 992px){
    .order-recinfo{
        width: 60%;
    }
    .order-method{
        display:none;
    }
}
.product-image{
	padding-bottom: 10px;
}
.product-thumbnail{
	width: 50px;
	height: 50px;
	position: relative;
}
.thumbnail-wrapper{
	width: 100%;
	height: 100%;
	
	position: relative;
}
.thumbnail-img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	border-radius: 7px;
}
.thumbnail-quantity{
	font-size: .78em;
    white-space: nowrap;
    padding: 0 .62em;
    border-radius: 2em;
    background-color:#666666;
    color: #fff;
    position: absolute;
    right: -.9em;
    top: -.55em;
    z-index: 3;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    text-align: center;
    line-height: 1.75em;
}
.product-desc{
	padding-bottom: 15px;
	padding-left: 10px;
	text-transform: uppercase;
	font-weight: 500;
display: block;
}
.product-info{
	font-size: 10px;
	display: block;
}
.product-price{
	padding-top: 10px;
	text-align: right;
	white-space: nowrap;
}
.product-table{
	margin: 0;
	width: 100%;
    border-bottom: 1px solid #666;
    margin-bottom: 15px;
}
.summary{
    display: flex;
    justify-content: space-between;
    padding-right: 4px;
}
.update-status-btn{
    margin-left: auto;
  	padding: 10px 30px;
    
}
.filter form{
    display: flex;
    align-items: center;
}
.filterbtn{
    width: 10%;
    height: 30px;
    margin-left: 15px;
}